footer {
  margin: 200px auto 0;
  text-align: center;
  position: relative;
  z-index: 90;
  width: 100%;
  max-width: 768px;
  .fader {
    animation-delay: calc(var(--anim-order) * 200ms) !important;
    animation-fill-mode: both;
  }
  .map {
    width: 100%;
    margin: auto;
    position: absolute;
    top: -14%;
    z-index: -1;
    svg {
      max-width: 468px;
      width: 100%;
      .bg,
      .lines {
        opacity: 0.15;
      }
    }
  }

  .content {
    max-width: 624px;
    margin: auto;
    p {
      color: $grey9;
      font-size: 14px;
      line-height: 22px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      padding: 80px 16px;
    }
  }

  nav.footer-menu {
    ul {
      background: none;
      border-bottom: none;
      li.ant-menu-item {
        border-bottom: none;
        min-width: 110px;
        &:hover {
          border-bottom: none;
          a {
            color: #006285;

            &:after {
              transform: translateY(-26px);
              opacity: 1;
            }
          }
        }

        a {
          &:before {
            display: none;
          }
          &:after {
            background: #006285;
          }
        }
        &.ant-menu-item-selected {
          a {
            color: #006285;
          }
          &:hover {
            a {
              color: #006285;
            }
          }
        }
        &.icon {
          padding: 0 4px 0 10px;
          min-width: inherit;
          @media (max-width: 380px) {
            display: none;
          }
          &:hover {
            a {
              color: #e37c5f;
            }
          }
          .anticon {
            font-size: 22px;
          }
        }
      }
    }
  }
  @media (min-width: 380px) {
    .mobile {
      display: none;
    }
  }
  .ant-menu-overflowed-submenu {
    display: none !important;
  }
  .mobile {
    padding: 16px 16px 0;
    a {
      padding: 0 4px 0 10px;
      color: $grey7;
    }
    &:hover {
      a {
        color: #e37c5f;
      }
    }
    .anticon {
      font-size: 22px;
    }
  }

  .copyrights {
    margin-top: 100px;
    font-size: 12px;
    padding: 11px 0;
  }
}
